html, body {
  height: 100%;
  margin: 0;
}
main
{
  min-height: 100%;
}

.merch
{
  margin-top: 2%;
  width: 50px;
  height: 40px;
  font-family: "Tahoma", serif;
  font-size: 30px;
  color: #000060; 
  font-weight: bold;
  margin-left: 2%;
}
header
{
    display: inline-block;
}
.back-gr
{
    background: url(img/fon1.jpg);
    width: 100%;
}
.backgroundSite
{
    background: url(img/fon.jpg) ;
}

.btnLogOut
{
    border-radius:10%;
    position: fixed ;
    left: 90%;
    background: #a086e7;
    color: #edf1f1 ;
    height:  8%;
    font-size: 15px;
    font-family: SEGOE PRINT;
    position: fixed;
    overflow: hidden;
    margin-top: 2%;
    
}
.btnAddPost
{
    border-radius:10%;
    position: fixed ;
    left: 79%;
    background: #a086e7;
    color: #edf1f1 ;
    width: 90px;
    height:  8%;
    font-size: 70%;
    font-family: SEGOE PRINT;
    margin-top: 2%;
   
    
}
.btnMorePosts
{

    background: #a086e7;
    color: #edf1f1 ;
    width: 100%;
    height:  10%;
    font-family: SEGOE PRINT;
    margin-top: 1.5%;
    
}
.btnFilter
{
    background: #a086e7;
    color: #edf1f1 ;
    font-family: SEGOE PRINT;
    border-radius: 5px;  
}
.photo1
{
    width: 50px;
    height: 90%;
}
.photo2
{
    width: 110%;
    height: 150%;
}
.username
{
    font-family: "SEGOE PRINT", serif;
    margin-left: 4%;
    color: #000060; 
    font-size: 150%;
}


.userphotopost {
    width: auto;
    height: auto;
    padding-left: 15%;
    margin: 7% auto 0;
    position: relative;
    border: 2% solid hsla(21, 37%, 15%, 0.3);
  }
  .userphotopost img {
    max-width: 50%;
    height: auto;
    
  }
  .userphotopost h2 {
    margin: 0;
    position: absolute;
    
    line-height: 1.1;
    font-size: 1.2em;
    font-weight: 200;
    bottom: 1%;
    padding: 5% 7% 5% 10%;
    background: hsla(21, 37%, 15%, 0.2);
    color: white;
    font-family: "SEGOE PRINT", sans-serif;
  }
  .date {
    font-family: "SEGOE PRINT", sans-serif;
    font-size: .7em;
  }
  .buttonPosts{
    position:absolute; 
    right: 8%;
    border:3px #000060 double; 
    width:33%;
    box-shadow:3px 3px 5px #999;
    top: 0%;
    margin: 0;
    font-family: "SEGOE PRINT", sans-serif;
   
    background: hsla(307, 29%, 56%, 0.7);
  }
  
  element.style {
    display: flex;
}
.buttonPosts .post-button img
{
  width: 100%;
  position: absolute;
  left: 25%;
  top: 25%;
  background:  hsla(307, 29%, 56%, 0.7);
  display: block;
}
.buttonPosts .post-button
{
  width: 31px;
  height: 31px;
  position: relative;
  background: hsla(307, 29%, 56%, 0.7);  
  margin-right: 2px;
}
.buttonPosts {
    display: flex;
    justify-content: left;
    position: absolute;
    right: 8%;
    border: 3px #000060 double;
    width: 33%;
    box-shadow: 3px 3px 5px #999;
    top: 0%;
    margin: 0;
    font-family: "SEGOE PRINT", sans-serif;
    background: hsla(307, 29%, 56%, 0.7);
}

div {
    display: block;
}

  .description{
    position:absolute; right: 8%; border:3px #000060 double; width:31%;
    box-shadow:3px 3px 5px #999;
    top: 38px;
    margin: 0;
    font-family: "SEGOE PRINT", sans-serif;
    padding: 1%;
    background: hsla(309, 33%, 73%, 0.7);
    display: block;
  }

 .tags
  {
    position:absolute;right: -0.5%;  border:3px #000060 double ;width:98%;
    top:102%;
    margin: 0;
    font-family: "SEGOE PRINT", sans-serif;
    padding: 1%;
    background: hsla(309, 33%, 73%, 0.7);
    word-wrap: break-word; 
  }

  .parant
  {
        float: left;
        width: 100%;
        background: url(img/fon1.jpg);
  }
  

  .child {
    
    
    padding: 10px;
    float: left;
    width: 29%;

}
.logo
{
    font-family: "Tahoma", serif;
    color: #000060; 
    font-weight: bold;
    margin-left: 4%;
}
.childUsers{
  position: relative;
}
.childUsers
{
  position: absolute;
  left: 85px;
  font-family: "SEGOE PRINT";
  font-size: 12px;
  background: hsla(309, 33%, 73%, 0.7);
  max-width: 170px;
  z-index: 1000;
  border-radius: 10px; 
  display: none;
}
.childDates
{
  position: absolute;
  left: 300px;
  font-family: "SEGOE PRINT";
  font-size: 12px;
  background: hsla(309, 33%, 73%, 0.7);
  max-width: 155px;
  z-index: 1000;
  border-radius: 10px; 
  display: none;
}

.childTags
{
  position: absolute;
  left: 550px;
  font-family: "SEGOE PRINT";
  font-size: 12px;
  background: hsla(309, 33%, 73%, 0.7);
  max-width: 170px;
  z-index: 1000;
  border-radius: 10px; 
  display: none;
}
.inputs
{
  background: hsla(251, 78%, 95%, 0.7);
  font-family: "SEGOE PRINT";
  
}

#user, #date, #Hashtags {
  outline: none;
  border: 1px solid #a086e7;
}

#user:focus, #date:focus, #Hashtags:focus {
  box-shadow: 2px 0px 7px #a086e7;
}

#search label {
  color: #372469;
  font-family: "SEGOE PRINT";
}

.search-label {
  display: inline;
}

button {
  border: none;
  outline: none;
  border: 1px solid white;
}

button:hover {
  box-shadow: 2px 4px 7px #372469
}